@media screen and (max-width: 768px) {
  .block1 {
    padding: 5rem 4rem;
    width: 100%;
    > .title {
      width: 100%;
      font-size: 4.5rem;
      line-height: 5.5rem;
    }
    .sub {
      font-size: 5rem;
      margin: 2rem 0;
    }
    .flex-wrapper {
      margin: 0;
      gap: 2.5rem;
      flex-wrap: wrap;
      .item {
        padding: 4rem;
        height: auto;
        .title {
          font-size: 3.5rem;
        }
        .des {
          font-size: 3rem;
        }
      }
      .item1 {
        min-width: 100%;
      }
      .item2,
      .item3,
      .item4,
      .item5 {
        min-width: 40%;
      }
    }
  }
  .block2 {
    background: url('@/assets/images/aboutUs/m/block2-bg.png');
    background-size: cover;
    width: 100%;
    padding: 0;
    .wrapper {
      padding: 5rem 4rem;
      > .title {
        font-size: 6rem;
        line-height: 9rem;
      }
      .flex-wrapper {
        margin-top: 5rem;
        gap: 2.5rem;
        .item {
          min-width: 40%;
          padding: 2.5rem;
          .content {
            margin-top: 2.5rem;
            text-align: start;
            .title {
              font-size: 3.5rem;
            }
            .des {
              font-size: 3rem;
              margin-top: 1rem;
            }
          }
        }
      }
    }
  }
  .block3 {
    width: 100%;
    padding: 5rem 4rem;
    > .title {
      font-size: 6rem;
      line-height: 9rem;
    }
    .flex-wrapper {
      flex-wrap: wrap;
      gap: 2.5rem;
      margin-top: 5rem;
      > div {
        padding: 5rem 4rem;
        min-width: 40%;
        img {
          width: 20rem;
          height: 20rem;
        }
        .title {
          font-size: 3.5rem;
          margin-top: 1rem;
          margin-bottom: 1rem;
        }
        .des {
          line-height: 4rem;
          font-size: 3.1rem;
        }
      }
    }
  }
  .block4 {
    width: 100%;
    .wrapper {
      width: 100%;
      padding: 5rem 4rem;
      > .title {
        font-size: 6rem;
        line-height: 9rem;
      }
      .flex-wrapper{
        flex-direction: column;
        margin-top: 5rem;
        .item{
          width: 100%;
          .item-title{
            font-size: 4rem;
            line-height: 10rem;
            position: relative;
          }
          .des{
            background-color: #fff;
            text-align: center;
            padding: 10rem 0 5rem 0;
            font-size: 4rem;
            margin-top: -5rem;
            border-radius: 4rem;
          }
        }
      }
    }
  }
  .block5 {
    padding: 5rem 4rem;
    background: url('@/assets/images/app/m/footer-bg.png') no-repeat;
    background-size: cover;
    > .title {
      font-size: 5.5rem;
      line-height: 8rem;
      padding: 0 11rem;
    }
    > .des {
      font-size: 3rem;
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
    }

    .content{
      margin-top: 5.5rem;
      background: url('@/assets/images/app/m/footer-bg2.png') no-repeat;
      background-size: cover;
      width: 100%;
      padding-top: 30rem;
      padding-bottom: 7.5rem;
      height: auto;
    }
  }
  .copyright {
    font-size: 3.5rem;
    line-height: 5rem;
    padding: 5rem 8rem;
  }
}
